[workspace]
members = [
    "protocol",
    "protocol_derive",
    "serde_nbt",
]
resolver = "2"

[package]
name = "tesseract"
version = "0.0.0"
edition = "2021"
authors = ["Valpahee <iam@valaphee.com>"]
license = "Apache-2.0"
repository = "https://github.com/valaphee/tesseract.git"
description = "An ECS-based Minecraft server written in Rust."

[dependencies]
anyhow = "1.0.69"
bevy = { git = "https://github.com/bevyengine/bevy.git", default-features = false }
byteorder = "1.4.3"
futures = "0.3.26"
glam = "0.23.0"
serde = "1.0.152"
serde_json = "1.0.93"
tesseract_protocol = { path = "protocol" }
tesseract_serde_nbt = { path = "serde_nbt" }
tokio = { version = "1.25.0", features = ["full"] }
tokio-util = { version = "0.7.7", features = ["codec"] }
uuid = "1.3.0"
